DEFAULT menu
PROMPT 0
MENU TITLE Install CentOS
MENU MASTER PASSWD $1$fae18eab$bQ0ipSDiABvupQasWZRIB1
TIMEOUT 200
TOTALTIMEOUT 6000
ONTIMEOUT $pxe_timeout_profile

LABEL local
        MENU LABEL (local)
        MENU DEFAULT
        LOCALBOOT -1

$pxe_menu_items

MENU end
